<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8"/>
	    <link rel="stylesheet" href = "/static/bootstrap3/css/bootstrap.css"/>
	    <link rel="stylesheet" href = "/static/bootstrap3/css/bootstrap-responsive.css"/>
	    <link rel="stylesheet" href = "/static/custom/css/parallax.css"/>
		<title>Douglas Chau</title>

	</head>

	<body>
		<body>



		<div id="banner">
			
			<div id = "sidebar">
				<h2>boo</h2>
			</div> <!-- sidebar -->
			
			
			<div id="bannertext">
				<h2>Douglas Chau</h2>
			</div>

		</div> <!-- end banner -->		

		<div id="content">
			<h2>Blog</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin pellentesque, est ut venenatis aliquam, lorem quam porttitor ligula, eget ultrices velit dui sed quam. Praesent vehicula placerat lectus. Nulla pede. Quisque a nulla quis massa pulvinar sagittis. Pellentesque neque massa, mattis vulputate, pellentesque nec, vehicula volutpat, purus. Proin pretium dui et nulla cursus eleifend. Aenean aliquam urna eget urna. Vestibulum euismod elit. Donec eget augue sit amet neque elementum pretium. Proin posuere lacus id lacus. Duis vel justo suscipit neque ornare iaculis.</p>			
		</div> <!-- end content -->
		
		<div id="footer">
            <div class = "container">
                <h3>footer</h3>
            </div>
        </div> <!-- end footer -->


		<script src="/static/bootstrap3/js/jquery-2.0.2.js"></script>		
	    <script src = "/static/bootstrap3/js/bootstrap.js"></script>
	    <script src = "/static/custom/js/parallax.js"></script>


	</body> 
</html>