<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8"/>
	    <link rel="stylesheet" href = "/static/bootstrap3/css/bootstrap.css"/>
	    <link rel="stylesheet" href = "/static/bootstrap3/css/bootstrap-responsive.css"/>
	    <link rel="stylesheet" href = "/static/custom/css/main.css"/>
		<title>Douglas Chau</title>


	</head>

	<body>
		<div class="content">

			<div class="nav">
				<div class = "container">
					<div class="bracket item-left">
						<a href="#">Douglas Chau</a>
					</div>
					<div class="bracket item-right">
						<a href="/">Home</a>
						<a href="/blog">Blog</a>
						<a href="/contact">Contact</a>
					</div>
				</div>
			</div> <!-- end nav -->

			{% block content %}

			<div class="section first">
			</div> <!-- end first -->

			<div class="section second">
			</div> <!-- end first -->

	        {% endblock %}

	        
			<div class="footer">
				<div class = "container">
		        	<div class = "bracket">
		                <a href="/">Douglas Chau © 2013 </a>
		                <a href="#">Home</a>
		                <a href="#">Blog</a>
		                <a href="#">Contact</a>
		            </div>
	      		</div>
			</div> <!-- end footer -->

    	</div> <!-- end content -->

    	
		
		
		<script src = "/static/bootstrap3/js/jquery-2.0.2.js"></script>		
	    <script src = "/static/bootstrap3/js/bootstrap.js"></script>
	    <script src = "/static/custom/js/main.js"></script>
	    <script src = "/static/greensock/TweenMax.min.js"></script>
	    <script src = "/static/greensock/TweenLite.min.js"></script>
	    <script src = "/static/greensock/jquery.superscrollorama.js"></script>


	</body> 
</html>