@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700);


body { 
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	background: #FFF; 
	color: #111; 
	text-align: center; 
	position: absolute; 
	height: 100%; 
	width: 100%; 
}

a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

a, a:link, a:visited, a:hover{
	outline: none;
	color:black;
	text-decoration: none;
}

h1 { 
	font-weight: 700; 
	font-family: 'Raleway', sans-serif;
	line-height: 1.2; 
}
h2 { 
	font-weight: 700; 
	font-size: 1.5em; 
	font-family: 'Raleway', sans-serif;
	margin: 1em 0; 
}

h3{
	font-family: 'Raleway', sans-serif;
}

.banner { 
	background: url(/static/img/disneylandcompressed.jpg) no-repeat 50% 0%; 
	background-size: 100% 100%;
	color: #fff; 
	height: 100%; 
	width: 100%; 
	overflow: hidden; 
	position: fixed;

}

.bannertext { 
	width: 25em; 
	position: absolute; 
	top: 30%; /* 30 */
	right: 10%; /* 10 */
	margin-left: -12em; 
	padding: 1em 0; 
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
	opacity: 1;

}

.content{
	height:100%;
	width:100%;
	position: relative;
}

.section {
	margin: 0 auto; 
	padding: 2em; 
	position: relative;
}

.first{
	background: url(http://interfacelift.com/wallpaper/D27952af/03328_manarolanight_1680x1050.jpg) 50% 0%; 
	background-size:cover;
	height: 60%;
	width: 100%;
}

.first:after {
	position: absolute;
	top:90%;
	right: 47%;
	z-index: 1;
	display: block;
	border: 50px solid white;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.4);

	border-radius:50%;
	content: '';
}
/*
.first:before {
	position: relative;
	top:98%;
	z-index: 2;

	display: block;
	border: 1px solid black;
	content: 'c';
}*/

.second{
	height: 80%;
	width: 100%;
	background: #FFFFFF;
}

/*.section p { 
	margin: 0 0 2em; 
	position: absolute;
}
*/

.nav{
	top: 0px;
	width: 100%;
	height: 4em;
	background: #FFFFFF;
	position: relative;
}

.item-left{
	position: absolute;
	left: 0%;
	background: #FFFFFF;
	text-align: left;
}

.item-right{
	position: absolute;
	right: 0%;
	background: #FFFFFF;
}

.item-right a {
	padding-left: 4em;
}

.footer {
	position: relative;
	width: 100%;
	color: #fff;
	background: #E8E8E8;

}

/* Bracket effects */
.bracket a::before,
.bracket a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.bracket a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.bracket a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.bracket a:hover::before,
.bracket a:hover::after,
.bracket a:focus::before,
.bracket a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.welcome-rotate{
	color: #f0f0ee;
	transform:rotate(-11deg);
	-moz-transform:rotate(-11deg);
	-ms-transform:rotate(-11deg);
	-webkit-transform:rotate(-11deg); /* 11 */
}

.button{
	background: none;
	border:none;
	outline: none;
}

.Three-Dee{
	line-height: 1em;
	font-weight:bold;
	/*text-shadow:0px 0px 0 rgb(192,69,74),1px 0px 0 rgb(210,210,210),2px 0px 0 rgb(193,193,193),3px 0px 0 rgb(176,176,176),4px 0px 0 rgb(159,159,159),5px 0px 0 rgb(141,141,141),6px 0px 0 rgb(124,124,124),7px 0px 0 rgb(107,107,107),8px 0px 0 rgb(89,89,89),9px 0px 0 rgb(72,72,72), 10px 0px 0 rgb(55,55,55),11px 0px 10px rgba(0,0,0,0.5),11px 0px 1px rgba(0,0,0,0.5),0px 0px 10px rgba(0,0,0,.2);*/
	text-shadow: 0px 0px 0 
        rgb(182,105,99),5px -1px 0 
        rgb(221,102,104),0 0 0 
        rgb(205,89,92),0 0 0 
        rgb(184,174,73),6px -2px 0 
        rgb(171,65,65),7px -3px 0 
        rgb(156,87,80), 8px -4px 0 
        rgb(145,81,71),9px -5px 6px 
        rgba(0,0,0,0.6),10px -6px 1px 
        rgba(122,81,71,0.5),0px 0px 6px 
        rgba(0,0,0,.2);
}

.shadow {
    -moz-box-shadow: 0 0 20px #fff;
	-webkit-box-shadow: 0 0 20px #fff;
	box-shadow: 0px 0px 20px #fff;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -kthtml-transition: all 1s linear;
    transition: all 1s linear;
}

